@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;

  --primary: 59 130 246;
  --accent: 16 185 129;
}

.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@keyframes floaty {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -8px, 0);
  }
}

.animate-floaty {
  animation: floaty 6s ease-in-out infinite;
  will-change: transform;
}

.animate-floaty-delay-1 {
  animation-delay: 0.6s;
}

.animate-floaty-delay-2 {
  animation-delay: 1.2s;
}

.animate-floaty-delay-3 {
  animation-delay: 1.8s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(237 237 237) !important;
  caret-color: rgb(237 237 237);
  transition: background-color 999999s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.06) inset;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
